<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object test example">
    <parameter name="appURL" value="https://hs.bigdropinc.net/"/>
    <parameter name="browserType" value="firefox"/>
    <test name="sample test">
        <classes>
            <class name="BaseTest"/>
            <class name="SearchTest"/>
        </classes>
    </test>
</suite>